{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body style="background-color: #33224E; color: white;
align-items: center; justify-content: center; display: flex; flex-direction: column;
align-content: center; width: 900px; height: 900px;">
    <p style="color: white;">juegos.pythonanywhere.com</p>
    <img src="{% static 'img/lock.svg' %}" alt="lock image">
    <h1 style="text-transform: uppercase; font-size: x-large; font-weight: bold;">Código de inicio de sesión</h1>

    <div
        style="justify-content: center; align-items: center; align-content: center; display: block; display: flex; flex-direction: column; background-color: #342A4C; padding: 2rem;">
        Este es tu código de aprobación de inicio de sesión.
        <span style="padding-top: 2rem; font-size: xxx-large;">{{code}}</span>
    </div>
    <footer style="padding-top: 2rem; display: flex; flex-direction: row; gap: 1rem;">
        <a style="color: white; font-size: x-large;" href="#">
            <img src="{% static 'img/facebook.svg' %}" alt="facebook logo">
        </a>
        <a style="color: white; font-size: x-large;" href="#">
            <img src="{% static 'img/instagram.svg' %}" alt="instagram logo">
        </a>
        <a style="color: white; font-size: x-large;" href="#">
            <img src="{% static 'img/twitter.svg' %}" alt="twitter logo">
        </a>
    </footer>
</body>

</html>